<!--admin/items/index-->
<h1>Admin::Items#Index</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-11">
      <% @items.each do |item| %>
        <table class="table">
          <thead>
            <tr>
              <th>ジャンル</th>
              <th>商品名</th>
              <th>image</th>
              <th>価格（税抜）</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= item.genre_id %></td>
              <td><%= item.name %></td>
              <td><%= image_tag item.get_image(100, 100) %></td>
              <td><%= item.price %></td>
              <td><%= item.is_active %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      </div>
    </div>
  </div>
</main>