<!--admin/items/index-->
<body>
  <%= render 'layouts/admin_header_template' %>
  <main>
    <div class="container">
      <h1 class="mb-5">商品一覧</h1>
      <div class="row">
        <div class="col-md-10">
          <div>
            <%= link_to(new_admin_item_path) do %>
              <i class="fas fa-circle-plus"></i>
            <% end %>
          </div>

          <div class="category mb-5">
            <h2>ケーキ</h2> <!--belongs_toだから、「genre」 *genresではない-->
            <table class="table table-hover">
              <thead class="table-secondary">
                <tr>
                  <th style="width: 20%">商品ID</th>
                  <th style="width: 20%">商品名</th>
                  <th style="width: 20%">税抜価格</th>
                  <th style="width: 20%">ジャンル</th>
                  <th style="width: 20%">ステータス</th>
                </tr>
              </thead>
              <tbody>
                <% @items.each do |item| %>
                <tr>
                  <td><%= item.id %></td>
                  <td>
                    <%= link_to(admin_item_path(item.id)) do %>
                      <%= item.name %>
                    <% end %>
                  </td>
                  <td><%= item.price.to_s(:delimited) %></td>
                  <td><%= item.genre.genre_name %></td>
                  <% if item.is_active == true %>
                    <td class="text-success fw-bold">販売中</td>
                  <% else %>
                    <td class="text-secondary">販売停止中</td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>