<!--admin/items/new-->
<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-11">
      <%= form_with model: @item, url: admin_items_path do |f| %>
        <div class="form-group">
          <%= f.label :genre_id, "ジャンルID" %>
          <!--f.collection_select <属性名>, <プルダウンメニュー表示用の配列データ>, <valueとして扱うカラム名>,  <表示用のカラム名>, <オプション>-->
          <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => true %>
        </div>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :introduction %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Item create", class: "btn btn-success btn-sm" %>
        </div>
      <% end %>

      <%= link_to "index", admin_items_path %>

      </div>
    </div>
  </div>
</main>