<body>
  <%= render 'layouts/admin_header_template'%>
  <main>
    <div class="container">
      <%= render 'layouts/flash' %>
      <div class="row">
        <h1 class="mb-5">商品詳細</h1>
      </div>
      <div class="row">
        <div class="col-5">
          <div>
            <%= image_tag @item.get_image(400, 400) %>
          </div>
        </div>

        <div class="col-7">
          <div class="row mb-3">
            <div class="col-3">
              <span>商品名</span>
            </div>
            <div class="col-7">
              <span><%= @item.name %></span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">
              <span>商品説明</span>
            </div>
            <div class="col-7">
              <span><%= @item.introduction %></span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">
              <span>ジャンル</span>
            </div>
            <div class="col-7">
              <span><%= @item.genre.genre_name %></span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">
              <span> 税込価格<br>（税抜価格）</span>
            </div>
            <div class="col-7">
              <span><%= @item.price.to_s(:delimited) %>(<%= @item.with_tax_price.to_s(:delimited) %>)円</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">
              <span>販売ステータス</span>
            </div>
            <div class="col-7">
              <span>
              <% if @item.is_active == true %>
                <span class="text-success">販売中</span>
              <% else %>
                <span class="text-secondary text-bold">販売停止中</span>
              <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3 mx-auto mt-5">
          <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success btn-lg" %>
        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>