<body>
  <%= render 'layouts/admin_header_template' %>
  <main>
    <div class="container">
      <h1>顧客一覧</h1>
      <div class="row">
        <div class="col-md-10">
          <table class="table">
            <thead>
              <tr>
                <th>会員ID</th>
                <th>御名前</th>
                <th>注文</th>
                <th>配送先</th>
                <th>退会</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><%= customer.last_name %> <%= customer.first_name %></td>
                <td>注文一覧</td>
                <td>配送先一覧</td>
                <td>
                <% if customer.is_deleted == true %>
                  <span>＊</span>
                <% end %>
                </td>
                <td><%= link_to "show", admin_customer_path(customer.id), class: "btn btn-success btn-sm" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>