<body>
  <%= render 'layouts/admin_header_template'%>
  <main>
    <div class="container">
      <%= render 'layouts/flash' %>
      <h1 class="mb-5"><%= @customer.last_name %><%= @customer.first_name %> さんの会員詳細</h1>
      <div class="row">
        <div class="col-md-10">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>会員ID</td>
                <td><%= @customer.id %></td>
              </tr>
              <tr>
                <td>氏名</td>
                <td><%= @customer.last_name %> <%= @customer.first_name %></td>
              </tr>
              <tr>
                <td>フリガナ</td>
                <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
              </tr>
              <tr>
                <td>郵便番号</td>
                <td><%= @customer.postal_code %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= @customer.address %></td>
              </tr>
              <tr>
                <td>電話番号</td>
                <td><%= @customer.telephone_number %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= @customer.email %></td>
              </tr>
              <tr>
                <td>会員ステータス</td>
                <td>
                  <% if @customer.is_deleted == true %>
                    <span class="text-secondary">退会</span>
                  <% else %>
                    <span class="text-success">有効</span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-5 offset-4 d-flex">
            <div class="d-inline"><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %></div>
            <div class="d-inline ml-5"><%= link_to "注文履歴一覧を見る", admin_root_path(customer_id: @customer.id), class: "btn btn-primary ml-6" %></div>
        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>
