<!--admin/orders/edit-->
<body>
  <%= render 'layouts/admin_header_template' %>
  <main>
    <div class="container">
      <%= render 'layouts/flash' %>
      <h1>注文履歴詳細</h1>
      <div class="row">
        <div class="col-10">
          <table class="table table-borderless mb-3">
            <tbody>
              <tr>
                <td>購入者</td>
                <td>
                  <%= link_to(admin_customer_path(@order.customer_id)) do %>
                    <%= @order.customer.last_name %><%= @order.customer.first_name %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>注文日</td>
                <td><%= @order.created_at %></td>
              </tr>
              <tr>
                <td>配送先</td>
                <td>
                  〒<%= @order.postal_code %>
                   <%= @order.address %><br>
                  <%= @order.name %>
                </td>
              </tr>
              <tr>
                <td>支払い方法</td>
                <td><%= @order.payment_method %></td>
              </tr>
              <tr>
                <td>注文ステータス</td>
                <td>
                  <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
                    <%= f.select :order_status, Order.order_statuses.keys %>
                    <%= f.submit "更新", class: "btn btn-success ml-5" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
            <table class="table border-bottom">
              <thead class="table-light">
                <tr>
                  <th>商品名</th>
                  <th>単価（税込）</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>制作ステータス</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @order_items.each do |order_item| %>
                <tr>
                  <td><%= order_item.item.name %></td>
                  <td><%= (order_item.item.price * 1.1).floor %></td>
                  <td><%= order_item.amount %></td>
                  <td><%= sub_total = order_item.item.with_tax_price * order_item.amount %></td>
                  <% @order_item = order_item %>@
                  <%= form_with model: @order_item, url: admin_order_item_path(@order_item), method: :patch do |f| %>
                  <td><%= f.select :making_status, OrderItem.making_statuses.keys %></td>
                  <td><%= f.submit "更新", class: "btn btn-success" %>
                  <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
        </div>

        <div class="col-3 offset-1">
          <table class="table table-borderless mb-3">
            <tbody>
              <tr>
                <th>商品合計</th>
                <td><%= @order.grand_total - @order.shipping_cost %>円
                </td>
              </tr>
              <tr>
                <th>送料</th>
                <td><%= @order.shipping_cost %>円</td>
              </tr>
              <tr>
                <th>請求金額合計</th>
                <td><%= @order.grand_total %></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>