<body>
  <%= render '/layouts/admin_header_template' %>
  <main>
    <div  class="container">
      <h1>注文履歴一覧</h1>
      <div class="row">
        <div class="col-10">
          <div class="order_field mb-3">
            <table class="table">
              <thead>
                <tr>
                  <th>購入日時</th>
                  <th>購入者</th>
                  <th>注文個数</th>
                  <th>注文ステータス</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                <tr>
                  <td>
                    <%= link_to(edit_admin_order_path(order)) do %>
                      <%= order.created_at %>
                    <% end %>
                  </td>
                  <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
                  <td>
                    <% order.order_items.each do |order_item| %>
                      <% @total_amount += order_item.amount %>
                    <% end %>
                    <%= @total_amount %>
                  </td>
                  <td>
                    <%= order.order_status_i18n %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>
