<body>
  <%= render 'layouts/public_header_template' %>
  <main>

<div class="container">


  <div class="row">
    <h1 class="mb-5">配送先登録</h1>

    <div class="col-md-10">
      <div class="field">
        <%= form_with model: @address, url: addresses_path do |f| %>
          <div class="form-group">
            <%= f.label :name, "宛名" %>
            <%= f.text_field :name, class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :postal_code, "郵便番号" %>
            <%= f.text_field :postal_code, class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :address, "配送先" %>
            <%= f.text_field :address, class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.submit "Create", class: "btn btn-success" %>
          </div>

        <% end %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>宛名</th>
            <th>郵便番号</th>
            <th>配送先</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.name %></td>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td>
              <%= link_to "修正", edit_address_path(address.id), class: "btn btn-success" %>
            </td>
            <td><%= link_to "削除", address_path(address.id), method: :delete, class: "btn btn-danger" %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>
