<body>
  <%= render 'layouts/public_header_template' %>
  <main>
    <div class="container">
      <div class="row">
        <h2>新規会員登録</h2>
      </div>

      <div class="row">
        <div class="col-10">
          <%= form_with model: @customer, url: customer_registration_path do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <div class="form-group">
            <div class="form-inline mb-5 mt-5">
              <div class="col-4">
                <span>名前</span>
                <%= f.label :last_name, "（姓）", class: "ml-auto" %>
              </div>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
              <%= f.label :first_name, "（名）" %>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "fist_name", class: "form-control" %>
            </div>

            <div class="form-inline mb-5">
              <div class="col-4">
              <%= f.label :kana, "フリガナ", class: "mr-auto" %>
              <%= f.label :last_name_kana, "（セイ）", class: "ml-auto" %>
              </div>
              <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "form-control" %>
              <%= f.label :first_name_kana, "（メイ）", class: "col-4 justify-content-start" %>
              <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "form-control" %>
            </div>

            <div class="form-inline mb-5">
              <%= f.label :email, "メールアドレス", class: "col-4 justify-content-start" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control w-50" %>
            </div>

           <div class="form-inline mb-5">
              <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-4 justify-content-start"%>
              <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
            </div>

            <div class="form-inline mb-5">
              <%= f.label :address, "住所", class: "col-4 justify-content-start" %>
              <%= f.text_area :address, autofocus: true, autocomplete: "address", class: "form-control" %>
            </div>

            <div class="form-inline mb-5">
              <%= f.label :telephone_number, "電話番号(ハイフンなし)", class: "col-4 justify-content-start" %>
              <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "form-control" %>
            </div>

            <div class="form-inline mb-5">
            <%= f.label :password, "パスワード（６文字以上）", class: "col-4 justify-content-start" %>
            <% if @minimum_password_length %>
              <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-inline mb-5">
            <%= f.label :password_confirmation, "パスワード（確認用）", class: "col-4 justify-content-start" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="mx-auto text-center">
            <%= f.submit "新規登録", class: "btn btn-success w-25" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row mt-5">
        <h2 class="bg-light d-block">既にご登録済みの方</h2>
      </div>
      <div class="row">
        <p><%= link_to "こちら", new_customer_session_path %>からログインしてください</p>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>