<body>
  <%= render 'layouts/public_header_template' %>
  <main>
    <div class="container">
      <h1 class="mb-5">ご注文一覧</h1>
      <div class="row">
        <div class="col-10">

          <% @orders.each do |order| %>
          <table>
            <tbody>
              <tr>
                <td>ご注文番号</td>
                <td><%= order.id %></td>
              </tr>
              <tr>
                <td>宛名</td>
                <td><%= order.name %></td>
              </tr>
              <tr>
                <td>お届け先</td>
                <td><%= order.address_display %></td>
              </tr>
              <tr>
                <td>ご請求金額</td>
                <td><%= order.grand_total %></td>
              </tr>
              <tr>
                <td>お支払い方法</td>
                <td><%= order.payment_method %></td>
              </tr>
            </tbody>
          </table>
          <% end %>

        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>