<body>
  <%= render 'layouts/public_header_template' %>
  <main>
    <div class="container">
      <h1 class="mb-5">注文情報入力</h1>
      <div class="row">
        <div class="col-10">
          <div class="field">
            <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
              <!--支払方法-->
            <div class="form-group">
              <h3>支払方法</h3>
              <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
            </div>

            <!--住所選択-->
              <h3 class="address mt-5">お届け先</h3>
              <!--お客様の住所-->
              <div class="address">
                <%= f.radio_button :address_select, 0 %>
                <%= f.label :address_select, "ご自身の住所" %>
                <div class="ml-5">
                  <%= current_customer.address_display %><br>
                  <%= current_customer.last_name %><%= current_customer.first_name %>
                </div>
              </div>

              <div class="address mt-3">
              <!--登録済み配送先-->
                <%= f.radio_button :address_select, 1 %>
                <%= f.label :address_select, "登録済み住所から選択" %><br>
                    <!--%= f.select :プロパティ名, options_from_collection_for_select(モデル, :フォームで送る値(メソッド), :セレクトボックスに表示する値(メソッド)) %>-->
                <div class="col-10 ml-5">
                  <%= f.select :address_id ,options_from_collection_for_select(@addresses, :id, :address_display), class: "w-100" %>
                </div>
              </div>

              <div class="address mt-3">
              <!--新規入力-->
                <%= f.radio_button :address_select, 2 %>
                <%= f.label :address_select, "新しいお届け先" %>
                  <div class="form-inline mt-1">
                    <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-4 justify-content-start ml-5" %>
                    <%= f.text_field :postal_code, class: "form-control w-25"%>
                  </div>

                  <div class="form-inline mt-1">
                    <%= f.label :address, "住所", class: "col-4 justify-content-start ml-5" %>
                    <%= f.text_field :address, class: "form-control w-50"%>
                  </div>

                  <div class="form-inline mt-1">
                    <%= f.label :name, "宛名", class: "col-4 justify-content-start ml-5" %>
                    <%= f.text_field :name, class: "form-control w-25"%>
                  </div>

                  <div class="form-action mt-5 col-3 mx-auto">
                    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>