<body>
  <%= render 'layouts/public_header_template' %>
  <main>
    <div class="container">
      <h2 class="mb-5">ログイン</h2>
      <div class="row mb-5">
        <h4 class="bg-light">会員の方はこちらからログイン</h4>

        <div class="col-md-10">
          <%= form_with model: @customer, url: customer_session_path do |f| %>
          <div class="form-group">
            <div class="form-inline mb-3">
              <%= f.label :email, "メールアドレス", class: "col-4 justify-content-start" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-50" %>
            </div>

            <div class="form-inline mb-3">
              <%= f.label :password, "パスワード", class: "col-4 justify-content-start" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control w-50" %>
            </div>

          <!--<% if devise_mapping.rememberable? %>-->
          <!--<div class="field">-->
            <!--<%= f.check_box :remember_me %>-->
            <!--<%= f.label :remember_me %>-->
          <!--</div>-->
          <!--<% end %>-->

            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-primary offset-4 w-25" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row">
      <h4 class="bg-light">会員登録がお済みでない方</h4>
      </div>
      <div class="row col-10 offset-1">
        <p><%= link_to "こちら", new_customer_session_path %>　から新規登録を行ってください。</p>
      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>